/* .container-fluid {
    display:flex;
    flex-wrap: wrap;
}

.image img {
    width:40%;
    height:70%;

} */

img {
  width: 100%;
  border-radius: 10px;
}

h1, h3, h4 {
  font-family: 'Poppins', sans-serif;
}

ul li, ol li {
  font-size: 1.1rem;
  line-height: 1.6rem;
}
